.tab{
	margin-left: 50px;
}

.grass{
	color: green;
	background-color: green;
}

.rock{
	color: gray;
	background-color: gray;
}

.sand{
	color: yellow;
	background-color: yellow;
}

.error{
	color: black;
	background-color: red;
}

.player{
	color: black;
	background-color: lightseagreen;
}

.water{
	color: blue;
	background-color: blue;
}

.bridge{
	color: peru;
	background-color: brown;
}

.doorr{
	color: red;
	background-color: lightgray;
}

.leverr{
	color: red;
	background-color: lightgray;
}

.doorg{
	color: limegreen;
	background-color: lightgray;
}

.leverg{
	color: limegreen;
	background-color: lightgray;
}

.doorb{
	color: blue;
	background-color: lightgray;
}

.leverb{
	color: blue;
	background-color: lightgray;
}

.laseroff{
	color: black;
	background-color: lightgray;
}

.laseron{
	color: red;
	background-color: lightgray;
}

.laserhor{
	color: blue;
	background-color: cyan;
}

.laserver{
	color: blue;
	background-color: cyan;
}

.mirror{
	color: cyan;
	background-color: white;
}

.mirroru{
	color: cyan;
	background-color: white;
}

.mirrord{
	color: cyan;
	background-color: white;
}

.teleport{
	color: magenta;
	background-color: purple;
}